<script type="text/javascript">
    $(document).ready(function() {
        var contentWindow = $('#content-window');

        if(window.location.hash) {
            loadContent(window.location.hash.substring(1));
        }

        function loadContent(filename) {
            console.log("loading: " + filename);
            contentWindow.attr('src', filename);
        }
    });
</script>
{{> message_links_js }}