<style type="text/css">

    body {
        font: 13px/1.5 Helvetica, Arial, sans-serif;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }

    #container {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }

    #toc {
        position: fixed;
        top: 0;
        overflow: scroll;
        /*overflow-x: hidden;*/
        width: 25%;
        height: 100%;
        float: left;
        clear: none;
        /*border: 1px solid;*/
    }

    #toc div {
        margin: 1em;
    }

    #content {
        position: relative;
        overflow-y: auto;
        top: 0;
        float: left;
        clear: none;
        width: 75%;
        left: 25%;
    }

    #content .details {
        padding: 1em;
    }

    ul, li {
        position: relative;
        left: -8px;
        list-style-type: none;
    }

    ul .message {
        list-style-image: url("images/message.png")
    }

    ul .enum {
        list-style-image: url("images/enum.png")
    }

    ul .service {
        list-style-image: url("images/service.png")
    }

    pre {
        display: block;
        font-family: 'Courier New', monospace;
        background: #cccccc;
        border-left: #999999 solid 4px;
    }

    small {
        font-size: 0.45em;
        font-style: italic;
    }

    input {
        color: black;
        background: white;
    }

    .no-marg {
        margin: 0;
    }

    .no-pad {
        padding: 0;
    }

        /* search filter in table of contents */
    .placeholder {
        background: white;
        color: #999;
        font-style: italic;
    }

    .filterform {
        border: none;
        background: transparent url(images/filter_box_left.png) no-repeat left;
        height: 22px;
    }

    .filterinput {
        border: none;
        background: transparent url(images/filter_box_bar_bg.png) repeat-x;
        height: 22px;

        position: relative;
        left: 21px;
        /*margin-left: 21px;*/
        /*margin-right: 21px;*/
        margin-top: -1px;
        width: 100%;
    }

    iframe {
        border: none;
    }

    #github-footer {
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 0.85em;
    }

</style>