<html>
<head>
    <title>ProtoDoc for: {{packageName}}.{{fieldName}}</title>
    {{> styles_css}}
    {{> message_styles_css}}
</head>
<body>
<h1 class="enum-header">
    <img src="images/enum-big.png" alt="enum"/>
    {{enumName}}
</h1>
<span class="top-level-comment">{{& comment}}</span><br/>

<h2>
    defined in message: <a href="{{packageName}}.html">{{packageName}}</a>
</h2>

<h2 class="inner-enums-header sub-header">Values:</h2>
<ul class="inner-enums">
    {{#values}}
    <li>
        <strong>{{valueName}}</strong>
        <span class="comment">{{& comment}}</span>
        <dl>
            <dt>Tag</dt>
            <dd>{{tag}}</dd>
        </dl>
    </li>
    {{/values}}
    {{^values}}
    <li>
        This enum defines no values.
    </li>
    {{/values}}
</ul>

</body>
</html>