<html>
<head>
    <title>ProtoDoc for: {{packageName}}.{{fieldName}}</title>
    {{> styles_css}}
    {{> message_styles_css}}
</head>
<body>
<h1 class="enum-header">{{enumName}}</h1>
<span class="top-level-comment">{{& comment}}</span><br/>
<!-- todo implement this style!!!! and the normal comment style too -->
<h2>defined in package: {{packageName}}</h2>

<h2 class="inner-enums-header sub-header">Values:</h2>
<ul class="inner-enums">
    {{#values}}
    <li>
        <table>
            <thead>
            <tr>
                <td>Value</td>
                <td>TAG</td>
                <td>Comment</td>
            </tr>
            </thead>
            <tbody>
            {{#values}}
            <tr>
                <td class="code">{{valueName}}</td>
                <td>{{tag}}</td>
                <td>{{& comment}}</td>
            </tr>
            {{/values}}
            </tbody>
        </table>
    </li>
    {{/values}}
    {{^values}}
    <li>
        This enum defines no values.
    </li>
    {{/values}}
</ul>

</body>
</html>