<html>
<head>
    {{> styles_css }}
    {{> list_filter_js }}
    {{> search_box_js }}
</head>
<body>
<div id="container">

    <div id="toc">
        {{> table_of_contents }}
    </div>
    <div id="content">
        <div class="details">
            {{ details }}
            <!-- content will be loaded via ajax into here -->
        </div>
    </div>

</div>
</body>
</html>