<html>
<head>
    {{> styles_css }}
    {{> list_filter_js }}
    {{> search_box_js }}
</head>
<body>
<div id="container">

    <div id="toc">
        {{> table_of_contents }}
    </div>
    <div id="content">
            <iframe id="content-window" width="100%" height="100%" src="" class="no-marg no-pad">
                <!-- Message details will be displayed here -->
            </iframe>
    </div>

</div>
</body>
</html>