<h1>{{messageName}}</h1>
<h2>defined in package: {{packageName}}</h2>

<h2>Fields:</h2>
<ul id="fields">
{{#fields}}
    <li>
        <strong>{{fieldName}}</strong><br/>
        defined as: {{protoTypeName}}<br/>
        mapped to: {{scalaTypeName}}
    </li>

    {{#empty}}
        <li>
            <strong>This message has no fields.</strong>
        </li>
    {{/empty}}
{{/fields}}
</ul>
