<style>
    .message-header {
        height: 71px;
        background: url(images/defbg-green.gif) repeat-x;
        color: white;
        font-size: 3em;
        font-style: oblique;
        text-shadow: black 0.1em 0.1em 0.1em;
    }

    ul, h1, h2, h3 {
        padding-left: 25px;
        padding-bottom: 0;
    }

    .sub-header{
        height: 28px;
        color: white;
        font-style: oblique;
        text-shadow: black 0.1em 0.1em 0.1em;
    }

    .fields-header {
        background: url(images/value_members_bg.gif) repeat-x;
    }

    .inner-enums-header {
        background: url(images/type_members_bg.gif) repeat-x;
    }
</style>