<style>
    .message-header {
        height: 71px;
        background: url(images/defbg-green.gif) repeat-x;
        color: white;
        font-size: 3em;
        font-style: oblique;
        text-shadow: black 0.1em 0.1em 0.1em;
    }

    .message-header img, .enum-header img {
        position: relative;
        top: 5px;
        left: -5px;
    }

    .enum-header {
        height: 71px;
        background: url(images/defbg-blue.gif) repeat-x;
        color: white;
        font-size: 3em;
        font-style: oblique;
        text-shadow: black 0.1em 0.1em 0.1em;
    }

    ul, h1, h2, h3 {
        padding-left: 25px;
        padding-bottom: 0;
        padding-top: 0;
        margin-top: 0;
    }

    h2 {
        margin-bottom: 0;

    }

    .sub-header {
        height: 28px;
        color: white;
        font-style: oblique;
        text-shadow: black 0.1em 0.1em 0.1em;
    }

    .inner-enums-header {
        background: url(images/value_members_bg.gif) repeat-x;
    }

    .inner-enums li {
        background: #d6e6ff;
    }

    .inner-enums li:nth-child(odd) {
        background: #edf4ff;
    }

    .fields-header {
        background: url(images/type_members_bg.gif) repeat-x;
    }

    .fields li {
        background: #caffaf;
    }

    .fields li:nth-child(odd) {
        background: #c2f0aa;
    }

    table {
        padding-left: 2em;
        font-size: 1em;
    }

    td {
        padding: 0 1em;
    }

    .code {
        font-family: 'courier new', monospace;
        font-weight: bold;
    }

    .inner-msgs-header {
        background: url(images/constructors_bg.gif) repeat-x;
    }

    .inner-msgs li {
        background: #f0f1f0;
    }

    .inner-msgs li:nth-child(odd) {
        background: #e6e7e6;
    }

    /* comments */
    .top-level-comment {
        border: #808080 dashed 1px;
        padding: 1em;
        display: block;
        margin: 1em;
    }

    .comment {
        border: #808080 dashed 1px;
        padding: 1em;
        display: block;
    }

    .footer-placemaker {
        padding-bottom: 150px;
    }
</style>
