<h1>{{msg.messageName}}</h1>


<h2>Fields:</h2>
<ul>
{{#msg.fields}}
  {{#field}}
    <li>
        <strong>{{fieldName}}</strong><br/>
        defined as: {{protoTypeName}}<br/>
        mapped to: {{scalaTypeName}}
    </li>
  {{/field}}
{{/msg.fields}}
</ul>

{{#empty}}
  <p>The list is empty.</p>
{{/empty}}