{{> menu_load_to_div_js }}

<div>
    <h1>
        ProtoDoc {{protodoc_version}}<br/>
        <small>by Konrad Malawski konrad.malawski@java.pl</small>
    </h1>

    <h2>Table of Contents</h2>

    <h3 id="header">Messages:</h3>
    <ul id="list">
        {{#contents}}
        <li class="{{representationOf}}">
            <a class="msg-link" href="{{fullName}}.html">{{fullName}}</a>
        </li>
        {{/contents}}
    </ul>
</div>
<div id="github-footer">
    ProtoDoc (by Konrad Malawski) is <em>Free Software</em>,<br/>
    licensed under the <em>Apache2 License</em>.
    Want the sources? <a href="https://github.com/ktoso/protodoc">Fork protodoc github</a>.
</div>